<% include base/head.ejs%>

<link rel="stylesheet" href="/stylesheets/lastcrazy/classify.css">

    <div class="top">
        <div class="fa fa-angle-left backindex"></div>
        <div class="top-content">
            <div class="tc1 tc" id="tc1">分类</div>
            <div class="tc2 tc">品牌</div>
        </div>
        <div class="fa fa-home backindex"></div>
    </div>
    <!-- 搜索框 -->
    <div class="search ">
        <button>
            <span class="fa fa-search"></span>
            <span>搜索品牌或商品</span>
        </button>
    </div>
    <!-- 分类界面 -->
    <div class="content">
        <div class="contentl ">
            <ul class="content-list">
                    <li class="leftlist" style="border-left:0.3rem solid #de3d96;background: white;color: #222222;">为你推荐</li>
                    <li class="leftlist">女装</li>
                    <li class="leftlist">男装</li>
                    <li class="leftlist">内衣</li>
                    <li class="leftlist">女鞋</li>
                    <li class="leftlist">男鞋</li>
                    <li class="leftlist">箱包皮具</li>
                    <li class="leftlist">手表配饰</li>
                    <li class="leftlist">护肤彩妆</li>
                    <li class="leftlist">个人护理</li>
                    <li class="leftlist">母婴</li>
                    <li class="leftlist">运动户外</li>
                    <li class="leftlist">手机数码</li>
                    <li class="leftlist">家用电器</li>
                    <li class="leftlist">家居家纺</li>
                    <li class="leftlist">生活超市</li>
                    <li class="leftlist">唯品国际</li>
                    <li class="leftlist">唯品.奢</li>
                    <li class="leftlist">唯品金融</li>
                    <li class="leftlist">医药健康</li>
                    <li class="leftlist">图书文娱</li>
            </ul>
        </div>
        <div class="contentr">
            <% for(var r=0;r<fenlei.length;r++){%>
            <div class="rightlist" style="display: block;">
                <div class="content-xiangqing">
                    <h2><%= fenlei[r].h2%></h2><br>
                    <div class="xiangqing">
                        <% for(var x=0;x<fenlei[r].xqimg.length;x++){%>
                        <div>
                            <img src=<%= fenlei[r].xqimg[x].img%> alt="">
                            <p class="ta-center fs12"><%= fenlei[r].xqimg[x].title%></p>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <!-- 品牌界面 -->
    <div class="pinpai ">
        <!-- 导航界面 -->
        <div class="scrollBar ">
            <ul class="scrollBarItem">
                <ul>
                    <li id="navlike"> <span class="fa fa-star-o"></span> 猜你喜欢</li>
                    <li> <span class="fa fa-female"></span>女装</li>
                    <li> <span class="fa fa-black-tie"></span> 男装</li>
                    <li><span class="fa fa-gift"></span> 美妆</li>
                    <li><span class="fa fa-gift"></span>精品</li>
                    <li><span class="fa fa-soccer-ball-o"></span> 运动户外</li>
                    <li><span class="fa fa-hotel"></span> 家居家纺</li>
                    <li><span class="fa fa-desktop"></span>家电数码</li>
                    <li><span class="fa fa-coffee"></span> 唯品生活</li>
                    <li><span class="fa fa-glass"></span> 唯品奢</li>
                </ul>
            </ul>
        </div>
        <!-- end -->
        <div class="pp-pro">
        <% for(var i=0;i<data.length;i++){%>
            <h3><%= data[i].leixing%>
                <a>更多 <span class="fa fa-angle-right"></span></a>
            </h3>
            <div class="pp-img">
                <% for(var j=0;j<data[i].list.length;j++){%>
                <img src=<%= data[i].list[j].src%> alt="">
                <%}%>
            </div>
        <%}%>
        </div>
    </div>
    <!-- 回到顶部 -->
    <div id="back"><i class="fa fa-angle-up" style="font-size:27px;color:#fff;"></i></div>


    <script src="js/iscroll.js"></script>
    <script src="js/swiper.js"></script>
    <script type="text/javascript">
        // 导航栏
        var myScroll = new IScroll('.scrollBar',{
            // mouseWheel:true,
            // scrollbars:true,
            scrollX:true
        });
        //导航栏不动，li移动
        var contentl= new IScroll('.contentl',{
            scrollX:true
        });
        var contentr = new IScroll('.contentr',{
            scrollX:true
        });


        // 左边箭头右边房子回当前页
        var backindex=document.querySelectorAll('.backindex')
        for(var i=0;i<backindex.length;i++){
            backindex[i].onclick=function(){
                location.href='/shop/index'
            }
        }

        // 切换
        var fenlei = document.querySelector('.tc1')
        var pinpai = document.querySelector('.tc2')
        var pinpaiview = document.querySelector('.pinpai')
        var fenleiview = document.querySelector('.content')
        fenlei.onclick = function(){
            fenleiview.style.display = 'block'
            pinpaiview.style.display = 'none'
            fenlei.style.background = '#585c64'
            fenlei.style.color = 'white'
            pinpai.style.background = 'none'
            pinpai.style.color = '#585c64'
        }
        pinpai.onclick = function(){
            pinpaiview.style.display = 'block'
            fenleiview.style.display = 'none'
            fenlei.style.background = 'none'
            fenlei.style.color = '#585c64'
            pinpai.style.background = '#585c64'
            pinpai.style.color = 'white'
        }

         //  一键回顶部
        var back=document.querySelector('#back')
        window.onscroll=function(){
            if(window.scrollY>500){
                back.style.display='block'
            }else{
                back.style.display='none'
            }
        }
        back.onclick=function(e){
            window.scrollTo(0,0)
        }


        // li女装等切换
        var leftlist  = document.querySelectorAll('.leftlist')
        var rightlist = document.querySelectorAll('.rightlist')
        console.log(rightlist)
        for(var i=0;i<leftlist.length;i++){
            leftlist[i].index = i
            leftlist[i].onclick=function(){
                for(var j=0;j<rightlist.length;j++){
                    rightlist[j].style.display='none'
                }
                // 未点击时的效果
                for(var h=0;h<leftlist.length;h++){
                    leftlist[h].style.background='none'
                    leftlist[h].style.color='#585c64'
                    leftlist[h].style.border='none'
                }
                // 点击后的效果
                rightlist[this.index].style.display='block'
                leftlist[this.index].style.background='#fff'
                leftlist[this.index].style.color='#222'
                leftlist[this.index].style.borderLeft='0.3rem solid #de3d96'
            }
        }
    </script>
    
<% include base/foot.ejs%>