<% include base/head.ejs%>
<link rel="stylesheet" href="/stylesheets/clothing/clothing.css">
 <div class="content">
        <% for(var i=0;i<data.length;i++){ %>
        <div class="wanzhengdiv">
                <div class="top">
                        <div class="imagebox">
                                <img  class="image"  src="<%= data[i].img%>" alt="">
                        </div>
                </div>
                <div class="below">
                    <div class="linediv">
                                <% if(data[i].method=='疯抢价'){%>
                                <span class="by"><%=data[i].method%></span>
                                <%}%>  
                                <% if(data[i].zhijiang=='直降20%'){%>
                                        <span class="zhi"><%=data[i].zhijiang%></span>
                                <%}%>  
                      
                        <span class="fs14 mt5"><%= data[i].price %></span>
                        <span  id="fs13"><%= data[i].oldprice %></span>
                        <span id="fs12"><%= data[i].zhekou %></span>
                    </div>
                        <span  class=" fs1"><%= data[i].desc %></span>
                </div>
        </div>
       <% } %>
</div> 





<% include base/foot.ejs%>