<% include base/head.ejs%>
<link rel="stylesheet" href="/stylesheets/clothing/clothing.css">
 <div class="content">
        <% for(var i=0;i<data[0].list.length;i++){ %>
        <div class="wanzhengdiv" id="<%= data[0].list[i].id%>">
                <div class="top">
                        <div class="imagebox">
                                <img  class="image"  src="<%= data[0].list[i].img%>" alt="">
                        </div>
                </div>
                <div class="below">
                    <div class="linediv">
                        <% if(data[0].list[i].method=='疯抢价'){%>
                        <span class="by"><%=data[0].list[i].method%></span>
                        <%}%>  
                        <% if(data[0].list[i].zhijiang=='直降20%'){%>
                                <span class="zhi"><%=data[0].list[i].zhijiang%></span>
                        <%}%>  
                        <span class="fs14"><%= data[0].list[i].price %></span>
                        <span  id="fs13"><%= data[0].list[i].oldprice %></span>
                        <span id="fs12"><%= data[0].list[i].zhekou %></span>
                    </div>
                        <span  class=" fs1"><%= data[0].list[i].desc %></span>
                </div>
        </div>
       <% } %>
</div> 

        <script>
                var wanzhengdiv=document.getElementsByClassName('wanzhengdiv')
                for(var i=0;i<wanzhengdiv.length;i++){
                        wanzhengdiv[i].onclick=function(){
                                location.href=`/clothing/details/${this.id}`
                        }
                }
        </script>



<% include base/foot.ejs%>