<% include base/head.ejs%>
<style>
</style>
<div id='addcar'>
<link rel="stylesheet" href="/stylesheets/details/details.css">
<div class="daohang">
    <div class="kefu"><img src="/images/details/kefu.png"></div>
    <div class="gouwuche"><img src="/images/details/gouwuche.png"></div>
    <div class="jiaru"  id="<%= data[0].id %>"><span>加入购物车</span></div>
</div>
<div class="swiper-container" >
        <div class="swiper-wrapper">
           <% for(var i=0;i<data[0].list.length;i++){ %>
                <div class="swiper-slide"><a href=""><img src=" <%= data[0].list[i].img%>" width="100%"></img></a></div>
            <% } %>
        </div>
        <div class="swiper-pagination"></div><!--分页器。如果放置在swiper-container外面，需要自定义样式。-->
        <div class="tubiao">
            <div class="tubiao1"><img src="/images/details/fanhui.png"></div>
            <div class="tubiao2"> 
                <img src="/images/details/heart.png" id="shoucanghou" style="display: none;">
                <img src="/images/details/shoucang.png" id="shoucang">
                <img src="/images/details/zhuanfa.png" id="fenxiang">
            </div>
        </div>
</div>
    <div class="jiage">
        <div class="price-wrap" >
            <div class="price-bar"> 
               <span class="feng">疯抢价</span> 
                <% for(var i=0;i<data.length;i++){%>
                <span class="price"><%= data[i].price %></span>&nbsp;
                <span class=" oldprice"><%= data[i].oldprice %></span>&nbsp;
                <span class="zhekou"><%= data[i].zhekou %></span>
                <% } %>
            </div>
        </div>
    </div>
<div class="mingcheng-wai">
    <div class="mingcheng">
        <% for(var i=0;i<data.length;i++){ %>
        <p class="mingcheng-p1"><%= data[i].desc%></p>
        <% } %>
    </div>
</div>

<div class="product">
    <div class="size">
        <div class="hd">
            <span>尺码</span>
        </div>   
       <div class="seclect">
           <div class="grid-select" id='default'>
                <% for(var i=0;i<data[0].list2.length;i++){ %>
                <button class="grid-option2"> <%= data[0].list2[i].size%> </button>
               
            <% } %>
            </div>
        </div>
    </div>
<div class="services-bar">
    <ul class="services-list">
        <li class="service">
            <img src="/images/details/ok.png" alt="">
            <span>唯品会自营</span>
        </li>
        <li>
            <img src="/images/details/ok.png" alt="">
            <span>7天无理由退货</span>
        </li>
        <li>
            <img src="/images/details/ok.png" alt="">
            <span>退货返10元唯品币</span>
        </li>
        <li>
            <img src="/images/details/ok.png" alt="">
            <span>7天可换</span>
        </li>
        <li>
            <img src="/images/details/ok.png" alt="">
            <span>买赠唯品币</span>
        </li>
    </ul>
</div>

<div class="product-params">
    <div class="title">商品介绍</div>
    <ul class="params-list">
        <li class="item">
            <span class="hui">风格 :</span>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <span class="xiu">优雅,经典,街头风</span>
        </li>
        <li>
            <span class="hui">流行元素 :</span>
            &nbsp; &nbsp; &nbsp;
            <span class="xiu">编织</span>
        </li>
        <li>
            <span class="hui">适用场合 :</span>
            &nbsp; &nbsp; &nbsp;
            <span class="xiu">约会</span>
        </li>
        <li>
                <span class="hui">版型 :</span>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <span class="xiu">常规</span>
        </li>
    </ul>
</div>
<div class="tuwen" >图文详情</div>

<div class="tupian">
    <div class="tu">
        <img src="/images/details/tu.jpg" alt="">
    </div>
    <div class="tu11">
        <img src="/images/details/01.jpg" alt="">
    </div>
    <div class="tu22">
        <img src="/images/details/1111.jpg" alt="">
    </div>
    <div class="tu33">
        <img src="/images/details/02.jpg" >
    </div>
    <div class="tu44">
        <img src="/images/details/2222.jpg" >
    </div>
</div>

    <div>
        <div id="back"><img src="/images/details/zhiding.png"></div> 
    </div>
</div>
</div>


    <!-- 分享链接 -->
    <div class='fenxiang'>
        <div class='yingcang'>
            <div class='yc-top'>
                <div class='flex-1'>
                    <div><i class='fa fa-weixin weixin'></i></div>
                    <p>微信好友</p>
                </div>
                <div class='flex-1'>
                    <div><img class="pengyouquan" src="/images/details/yhqpyq.png" alt=""></div>
                    <p>朋友圈</p>
                </div>
                <div class='flex-1'>
                    <div><i class='fa fa-weibo weibo'></i></div>
                    <p>新浪微博</p>
                </div>
                <div class='flex-1'>
                    <div><i class='fa fa-qq qq'></i></div>
                    <p>QQ</p>
                </div>
            </div>
            <button class="quxiao">取消</button>
        </div>
    </div>
<script>
var xhr;
if(XMLHttpRequest){
    xhr= new XMLHttpRequest()
}else{
    xhr= new ActiveXObject("Microsoft.XMLHttp")
}
var back=document.querySelector('#back')
        window.onscroll=function(){
            if(window.scrollY>1000){
                back.style.display='block'
            }else{
                back.style.display='none'
            }
        }
        back.onclick=function(e){
            window.scrollTo(0,0)
        }
        var mySwiper = new Swiper('.swiper-container',{
        pagination: '.swiper-pagination',
        paginationClickable: true  ,
        // autoplay:3000
    })



    // 尺码选择样式改变
    var grid=document.querySelectorAll('.grid-option2')
    grid[0].classList.add('checked')
    for(var i=0;i<grid.length;i++){
        grid[i].onclick=function(){
            for(var j = 0 ;j<grid.length;j++){
            grid[j].classList.remove('checked')
        }
            this.classList.add('checked')
        }
    }

    //加入购物车
    var sizechuan = document.querySelector('.checked').innerHTML
    var jiaru=document.querySelector('.jiaru')
    console.log(jiaru.id)
    jiaru.onclick=function(){
        // console.log(sizechuan)
        xhr.open('post','/detail',true)
        xhr.setRequestHeader('content-type','application/x-www-form-urlencoded')
        xhr.send(`sizechuan=${sizechuan}&&id=${jiaru.id}`)
        xhr.onreadystatechange=function(){
            if(xhr.readyState==4 &&xhr.status==200){
               
            }   
        }
        // console.log(this.id)
        location.href='/shopping/fullcar'
    }
    //返回上一页
    var tubiao1=document.querySelector('.tubiao1')
    tubiao1.onclick=function(){
        history.back()
    }







     //收藏
     var shoucanghou = document.querySelector('#shoucanghou')
    var shoucang = document.querySelector('#shoucang')
        shoucang.onclick = function(){
            shoucanghou.style.display = 'block'
            shoucang.style.display = 'none'
        }
        shoucanghou.onclick = function(){
            shoucang.style.display = 'block'
            shoucanghou.style.display = 'none'
        }


        
//分享
    var fxview = document.querySelector('.fenxiang')
    var fenxiang=document.querySelector('#fenxiang')
    var quxiao=document.querySelector('.quxiao')
    fenxiang.onclick=function(){
        fxview.style.display='block'
    }
    quxiao.onclick=function(){
        fxview.style.display='none'
    }
    
</script>
<!-- <script src="/javascripts/ajax/details.js"></script> -->

<% include base/foot.ejs%>