<% include base/head.ejs%>

    <link rel="stylesheet" href="/stylesheets/lastcrazy/lastcrazy.css">
 
    <div class="top">
        <img src="/images/lastcrazy/top.webp" alt="" width="100%" height="100%">
    </div>
    <div class="content">
        <img src="/images/lastcrazy/content.webp" alt="" width="100%" height="100%">
        <div class="smwy"></div>
        <div class="smwy"></div>
    </div>
    <ul class="bg-white hrem4 w100 lsnone" id="ul">
        <li class="nav-text1 fw" id="jrfq">今日疯抢(215) </li>
        <li class="nav-text2 fw" id="xqyg">下期预告(29)</li>
    </ul>
    <!-- 今日疯抢    上新页 -->
    <div class="shangxin">
        <div class="sxtitle"><img src="/images/lastcrazy/shangxin.webp" alt=""></div>
        <% for (var i=0;i<data.length;i++){%>
            <div class="sxpinpai clear ">
                <div class="sx1">
                    <img src=<%= data[i].img%> alt="">
                    <span><%= data[i].fengding%></span>  
                </div>
            <div class="sx2">
                <% for (var j=0;j<data[i].list.length;j++){%>
                    <div class="sx2-1">
                        <img src=<%= data[i].list[j].img1%> alt="" width="100%">
                        <span class="fs10 color-pink  bg-white" id="dazhe"><%= data[i].list[j].dazhe%></span>
                        <span class="color-pink fs14 fw"><%= data[i].list[j].money%></span>
                        <span class="color-gray fs14 line-throught"><%= data[i].list[j].yuanjia%></span>
                    </div>
                <% } %> 
            </div>
                <div class="sx3">
                    <span><%= data[i].shop%></span>
                    <span class="sx3-r">仅剩</span>
                    <span class="bg-gray" id="color-white"><%= data[i].daojishi%></span>
                    <span >天</span>
                </div>
            </div>
        <% } %> 
    </div>
    <!-- 下期预告   -->
    <div class="yugao">
        <% for (var y=0;y<yugao.length;y++){%>
            <div class="yg1">
                <img src=<%= yugao[y].img%> alt="">
                <span>到手价3折封顶</span>
                <div class="kaiqiang">
                    <span class="fw">今日</span> 
                    <span id="time">10</span>
                    <span>:</span>
                    <span id="time">00</span> 
                    <span class="fw">开抢</span> 
                    <button>抢先收藏 ></button>
                </div>
            </div>
        <% } %>
    </div>
    <!-- 回到顶部 -->
    <div id="back">
        <i class="fa fa-angle-up" style="font-size:27px;color:#fff;"></i>
    </div>

    <script>
        var jrfq = document.querySelector('#jrfq')
        var xqyg = document.querySelector('#xqyg')
        var shangxin = document.querySelector('.shangxin')
        var yugao = document.querySelector('.yugao')
        jrfq.onclick = function(){
            shangxin.style.display = 'block'
            yugao.style.display = 'none'
            jrfq.style.color = '#ec3790'
            jrfq.style.border ='#ec3790'
        }
        xqyg.onclick = function(){
            shangxin.style.display = 'none'
            yugao.style.display = 'block'
            jrfq.style.color = 'black'
            jrfq.style.border ='white'
        }


        //  一键回顶部
        var back=document.querySelector('#back')
        window.onscroll=function(){
            if(window.scrollY>500){
                back.style.display='block'
            }else{
                back.style.display='none'
            }
        }
        back.onclick=function(e){
            window.scrollTo(0,0)
        }
    </script>
    
<% include base/foot.ejs%>