<% include base/head.ejs%>
 <link rel="stylesheet" href="/stylesheets/lastcrazy/UserAddress.css">
<!-- 收货地址列表 -->
<div class="Addlist">
    <div class="k4-top">
        <p class="fa fa-angle-left" id="k4-topp"></p>
        <p>收货地址列表</p>
        <p class="fa fa-home backindex"></p>
    </div>
    <div class="address">
        <%for(var i=0;i<inform.length;i++){%>
        <div class="addinfor">
            <h4>
                <span class="td"><%=inform[i].name%></span>
                <span class="td"><%=inform[i].num%></span>
            </h4>
            <p class="td"><%=inform[i].address%></p>
            <p class="td"><%=inform[i].time%></p>
            <a class="delete td"><%=inform[i].delete%></a>
            <a class="xiugai td"><%=inform[i].xiugai%></a>
        </div>
        <%}%>
        <div class="button xiugai"  >
            <span>添加收货地址</span>
        </div>
    </div>
    <div class="mengban">
        <div class="tankuang">
            <div>你要删除该地址吗？</div>
            <button class="quxiao">取消</button>
            <button class="yes">确认</button>
        </div>
    </div>
</div>
    <!-- 添加修改地址列表 -->
    <div class="changeAdd">
        <div class="k4-top">
            <p class="fa fa-spinner" id="k4-topp" ></p>
            <p>修改收货地址</p>
            <p class="fa fa-home backindex"></p>
        </div>
        <div class="xgcontent">
            <div>
                <span>收货人</span>
                <input id="name" type="text" placeholder="请输入姓名">
            </div>
            <div>
                <span>手机号</span>
                <input id="phoneNum" type="number" placeholder="请输入正确的手机号">
            </div>
            <div>
                <span>收货时间</span>
                <input id="sjian" type="text" placeholder="收货时间不限">
            </div>
            
        </div>
        <div class="xgcontent">
            <div id="suozaiadd">
                <span>所在地址</span>
                <input id="Add" type="text" placeholder="收货时间不限">
            </div>
            <div id="xiangxiadd">
                <span>详细地址</span>
                <textarea name="" id="jiedao" cols="30" rows="5" placeholder="请具体到街道、门牌号等"></textarea>
            </div>
        </div>
        <div class="sure">
            <button>确定</button>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>

    // 返加上一界面
    var back = document.querySelector('#k4-topp')
        back.onclick = function(){
            history.go(-1);
        }

    // 添加或修改
    var xiugai = document.querySelectorAll('.xiugai')
    var changeAdd = document.querySelector('.changeAdd')
    var Addlist = document.querySelector('.Addlist')
    var sure = document.querySelector('.sure')
    for(var i=0;i<xiugai.length;i++){
        xiugai[i].onclick = function(){
            changeAdd.style.display = 'block'
            Addlist.style.display = 'none'
        }
    }
        sure.onclick = function (){
            changeAdd.style.display = 'none'
            Addlist.style.display = 'block'
            // 获取   添加节点
            //将姓名，年龄，性别，手机号，职位的value值创建在一个新数组中，前提先获取他们的按钮
            var name = document.querySelector('#name').value
            var phoneNum = document.querySelector('#phonenum').value
            var sjian = document.querySelector('#sjian').value
            var Add = document.querySelector('#Add').value
            var jiedao = document.querySelector('#jiedao').value

            var address=document.querySelector('address')[0]
            //新增一个addinfor
            var addinfor = document.querySelectorAll('.addinfor')
            //创建一个新数组
            var arr=[name,phonenum,Time,Add,jiedao]
            //让其进行循环
            //因为有button,s所以多循环一次，即<=arr.length
                for(var j=0;j<=arr.length;j++){
                    //每循环一次，创建一个td
                    var td = document.createElement('.td')
                    td.innerHTML=arr[i]
                    if(arr[i]==undefined){
                        td.innerHTML='<button>删除</button>'
                    }
                    addinfor.appendChild(td)
                    address.appendChild(addinfor)
                }
                //删除按钮，只能删除一个
                // var btns=document.getElementsByTagName('button')
                // for(var j=1;j<btns.length;j++){
                //     btns[j].onclick=function(){
                //         tbody.removeChild(tr)
                //     }
                // }
        }   

    // 蒙版
    var quxiao = document.querySelector('.quxiao')
    var shanchu = document.querySelectorAll('.delete')
    var mengban = document.querySelector('.mengban')
    var yes = document.querySelector('.yes')
    var addinfor = document.querySelectorAll('.addinfor')
    for(var i=0;i<shanchu.length;i++){
        shanchu[i].onclick = function(){
            mengban.style.display= 'block'
            this.parentElement.parentElement.removeChild(this.parentElement)  //删除节点
        }
    }
        quxiao.onclick = function(){
            mengban.style.display = 'none'
        }
       
        yes.onclick = function(){
            mengban.style.display = 'none'
            // addinfor.parentElement.parentElement.remove(addinfor.parentElement)
        }
    var addinfor = document.querySelectorAll('.addinfor')
    
    
        
     // 左边箭头右边房子回当前页
     var backindex=document.querySelectorAll('.backindex')
        for(var i=0;i<backindex.length;i++){
            backindex[i].onclick=function(){
                location.href='/shop/index'
            }
        }

    

    </script>
<% include base/foot.ejs%>