<% include base/head.ejs%>

<link rel="stylesheet" href="/stylesheets/index/womenclothes.css">
    <div class="womenclothes-top">
        <input type="text" placeholder="搜索商品或品牌" style="width:90%;height:2.5rem;font-size:13px;background:#F3F4F4;color:#98989E;margin-left:5%;margin-top:1.5rem">
        <span style="position:absolute;top:1.7rem;right:10%;font-size:14px;color:#98989E"><i class="fa fa-search"></i></span>
        <div class="womenclothes-top-list">
            <div class="womenclothes-top-list-desc">
                <% for(var i=0;i<data[0].list.length;i++){ %>
                <div class="qunzi" id="<%= data[0].list[i].id%>">
                    <div style="width:100%;height:7rem;background:#F3F4F4;border-radius:3.5rem">
                        <img width="100%" src="<%= data[0].list[i].smallimage%>" alt="">
                    </div>
                    <p style="color:#222222;text-align:center;font-size:13px"><%= data[0].list[i].listdesc%></p>
                </div>
                <% } %>
        </div>
    </div>
    <div class="womenclothes-center">
        <p style="margin:0 auto;width:100%;text-align:center;font-size:16px;font-weight:600;color:#000;margin-bottom:1rem;margin-top:2rem;">今日特卖 10点上新</p>
        <% for(var i=0;i<data[0].largelist.length;i++){ %>
        <div class="opennew">
            <div class="opennew-top">
                <img width="100%" src="<%= data[0].largelist[i].largeimage%>" alt="">
            </div>
            <div class="opennew-bottom" style="padding:0 5%;">
                <span class="womenclothes-sell"><%= data[0].largelist[i].sell%></span>
                <span class="womenclothes-sell-go">进入会场</span>
            </div>
        </div>
        <% } %>
        <div style="width:70%;height:3rem;background:#4A90E2;margin:0 auto;text-align:center;line-height: 3rem;margin-top:1rem;color:#fff">
            查看更多<span><i class="fa fa-angle-down"></i></span>
        </div>
    </div>
    <script>
        var qunzi=document.querySelectorAll('.qunzi')
        for(let i=0;i<qunzi.length;i++){
            qunzi[i].onclick=function(){
                location.href=`/clothing/${this.id}`
            }
        }
    </script>
    
<% include base/foot.ejs%>